
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #e3d9ff, #f7f5ff);
    color: #333;
    padding: 20px;
}


header h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #3c2a8a;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


.profile-card {
    max-width: 450px;
    background: white;
    margin: auto;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}


.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #c9b8ff;
}


.profile-card h3 {
    color: #3c2a8a;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.6;
    padding: 0 10px;
}


.skills {
    list-style: none;
    margin-top: 10px;
    display:flex;
    flex-direction:row
   
}

.skills li {
    background: #ebe4ff;
    color: #3c2a8a;
    padding: 8px 15px;
    margin: 6px auto;
    width: fit-content;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: 0.3s;
   
}

.skills li:hover {
    background: #d7caff;
    transform: scale(1.06);
}

.actions {
    margin-top: 20px;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 25px;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 8px;
    transition: 0.3s;
}

.bt1 {
    background: #3c2a8a;
    color: white;
}

.bt1:hover {
    background: #2a1f70;
}

.bt2 {
    background: #3c2a8a;
    color:white;
}

.bt2:hover {
    background: #c3b2ff;
}

.meta {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    color: #555;
}
